$animate: all 0.1s ease-in-out;

.result {
	max-width: 300px;
	transition: all ease-in 0.2s;
	margin: 10px auto;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid lighten($color: $black, $amount: 60%);
	height: 375px;
	color: $black;
	border: 1px solid $gray;

	&:after {
		content: "";
		bottom: -5px;
		height: 3px;
		margin: 0;
		transition: $animate;
		transition-duration: 0.3s;
		left: 0;
		background-color: desaturate($gray, 40%);
	}

	&:hover {
		&:after {
			background-color: desaturate($orange, 40%);
		}
	}

	&>.product-image {
		width: 90%;
		margin: 0 5%;
	}

	.callout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5px;
	}

	.shortDesc {
		text-align: left;
		font-size: 14px;
		color: $black;
		flex-grow: 1;
		padding: 0 5px;
	}

	&>.actions {
		margin-bottom: auto;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		background-color: $gray;
		padding: 5px;

		&>span {
			color: $black;
			color: 12px;
		}

		&>a {
			color: desaturate($orange, 40%);
			transition: all linear 0.2s;
			font-size: 12px;

			&:hover {
				color: desaturate($orange, 20%);
			}
		}
	}
}